@media (max-width: 1440px) {
  .container {
    width: 90%;
  }
}
@media (max-width: 1024px) {
  #for .for--fooor {
    width: 87% !important;
  }
  #clock .clock {
    flex-direction: column;
  }
}
@media (max-width: 992px) {
  #for .for--fooor {
    width: 95% !important;
  }
}
@media (max-width: 820px) {
  #process .process--learn {
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  #header .hamburger-menu {
    display: block;
  }
  #header .header--logo__text {
    display: none;
  }
  #header .header--btn {
    display: none;
  }
}
@media (max-width: 650px) {
  #study .study h1 {
    font-size: 16px !important;
  }
  #each .each--party p {
    width: 95% !important;
  }
  #leader .leader--rr {
    flex-direction: column;
  }
  #for .for--fooor {
    flex-direction: column !important;
  }
  #for .for--you {
    padding: 18px 0 !important;
  }
  #dev .dev--title__text p {
    font-size: 17px !important;
    width: 85% !important;
  }
}
@media (max-width: 578px) {
  #dev .dev--title {
    flex-direction: column !important;
  }
}
@media (max-width: 480px) {
  #each .each--party p {
    font-size: 16px !important;
  }
  #each .each--day h1 {
    font-size: 16px !important;
  }
  #study .study h1 {
    font-size: 12px !important;
  }
  #for .for--you ul {
    font-size: 17px !important;
    padding: 10px 0 !important;
  }
  #for .for--fooor__tochki ul {
    font-size: 18px !important;
  }
  #leader .leader--rr__man {
    width: 96% !important;
  }
  #leader .leader--rr__man--mas p {
    font-size: 17px !important;
  }
  #leader .leader--rr__man--mas h4 {
    font-size: 17px !important;
  }
  #leader .leader--rr__man--mas span {
    font-size: 17px !important;
  }
  #leader .leader--rr__man--mas h1 {
    font-size: 30px !important;
  }
  #footer .footer {
    flex-direction: column;
  }
  #footer .footer--our {
    display: flex;
  }
  #footer .footer--block {
    padding: 10px 0;
  }
  #footer .footer--block h2 {
    font-size: 17px;
  }
  #footer .footer--block a {
    font-size: 14px;
  }
  #footer .footer--block h5 {
    font-size: 14px;
  }
  #footer .footer--block1 {
    display: none;
  }
  #footer .footer--block4 {
    display: none;
  }
}
@media (max-width: 420px) {
  #study .study--bye button {
    margin: 10px 0 !important;
  }
}
@media (max-width: 400px) {
  #leader .leader--rr__man--mas p {
    font-size: 17px !important;
    width: 130% !important;
  }
  #study .study--bye button {
    margin: 10px 0 !important;
  }
}
@media (max-width: 375px) {
  #process .process h1 {
    font-size: 32px !important;
  }
  #study .study--bye button {
    margin: 10px 0 !important;
  }
}
@media (max-width: 360px) {
  #for .for--you {
    font-size: 15px !important;
    padding: 9px 0 !important;
    margin-left: 10px !important;
  }
  #for .for--fooor {
    padding-left: 10px !important;
  }
  #study .study--bye button {
    margin: 10px 0 !important;
  }
}
@media (max-width: 320px) {
  #for .for--you {
    font-size: 15px !important;
    padding: 9px 0 !important;
    margin-left: 10px !important;
  }
  #study .study--bye button {
    margin: 10px 0 !important;
  }
  #dev .dev--block a {
    display: none;
  }
  #dev .dev--title__text h1 {
    font-size: 20px !important;
  }
  #dev .dev--title__text p {
    font-size: 13px !important;
    width: 119% !important;
  }
  #process .process h1 {
    font-size: 29px !important;
  }
}

/*# sourceMappingURL=media%20fr.css.map */
