@charset "UTF-8";
@media (max-width: 1440px) {
  .container {
    width: 90%;
  }
}
@media (max-width: 1200px) {
  #level .level {
    flex-direction: column;
  }
}
@media (max-width: 1024px) {
  #platform .platform {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 992px) {
  #platform .platform--block p {
    font-size: 18px;
  }
  #platform #master .master--java {
    width: 728px;
  }
  #platform #master .master--java__block p {
    font-size: 15px;
  }
  #platform #course .course--dev {
    padding: 0 8px;
  }
  #platform #school .school--mission p {
    font-size: 17px;
  }
  #platform #school .school--mission h1 {
    font-size: 45px;
  }
}
@media (max-width: 992px) and (max-width: 992px) {
  #course .course--dev {
    padding: 0 8px;
  }
  #course .course--dev p {
    font-size: 14px;
  }
  #school .school--mission p {
    font-size: 16px;
  }
  #master .master--java {
    width: 690px;
  }
  #master .master--java__block p {
    font-size: 14px;
  }
  #master .master--java {
    width: 410px !important;
  }
  #master .master--java__block p {
    font-size: 16px !important;
  }
  #master .master--java__block h2 {
    font-size: 13px !important;
  }
}
@media (max-width: 992px) {
  #master .master h1 {
    font-size: 39px !important;
  }
}
@media (max-width: 992px) {
  #latest .latest--article__fly {
    width: 100%;
  }
  #latest .latest--article__fly img {
    width: 100%;
  }
}
@media (max-width: 992px) {
  #follow .follow--me__just h2 {
    font-size: 19px;
    padding-left: 10px;
  }
  #follow .follow--me__just p {
    font-size: 12px;
    padding-left: 10px;
  }
  #follow .follow--me__hidden h4 {
    padding-left: 37px;
  }
  #follow .follow--me__hidden img {
    width: 100%;
  }
}
@media (max-width: 820px) {
  #footer .footer {
    flex-wrap: wrap;
  }
  #footer .footer {
    flex-wrap: wrap;
  }
  #course .course {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  #course .course--dev {
    padding: 0 20px;
    margin: 13px;
  }
  #school .school {
    padding-top: 50px;
    flex-direction: column;
  }
  #master .master--java {
    width: 456px;
  }
  #master .master--java__block h2 {
    font-size: 15px;
  }
  #master .master--java__block p {
    font-size: 17px;
  }
  #footer .footer {
    flex-wrap: wrap;
  }
  #zayavka .zayavka {
    display: flex;
    flex-direction: column !important;
    align-items: center;
    justify-content: space-around;
  }
  #zayavka .zayavka--cap__kaif input {
    width: 178px !important;
    height: 20px !important;
  }
  #accor .accor--photo h1 {
    font-size: 35px;
  }
  #accor .accor--photo img {
    width: 43%;
  }
}
@media (max-width: 768px) {
  #name .name--number__tell input {
    width: 186px !important;
    height: 25px !important;
  }
  #name .name--there p {
    font-size: 13px;
  }
  #name .name--there h1 {
    font-size: 32px;
  }
  #name .name--number__tell input {
    padding: 15px 75px;
  }
  #zayavka .zayavka {
    flex-direction: column;
    align-items: center;
  }
  #header .hamburger-menu {
    display: block;
  }
  #header .header--logo__text {
    display: none;
  }
  #header .header--btn {
    display: none;
  }
  #platform .platform--block p {
    font-size: 16px;
  }
  #platform .platform--block h1 {
    font-size: 35px;
  }
  #header .hamburger-menu {
    display: block;
  }
  #header .header--logo__text {
    display: none;
  }
  #header .header--btn {
    display: none;
  }
  #platform .platform--block p {
    font-size: 16px;
  }
  #platform .platform--block h1 {
    font-size: 35px;
  }
}
@media (max-width: 650px) {
  #follow .follow--me {
    flex-direction: column;
  }
  #follow .follow__hidden h4 {
    padding-left: 37px;
  }
  #platform .platform--block h1 {
    font-size: 29px;
  }
  #platform .platform--block p {
    font-size: 15px;
  }
  #platform .platform--block h1 {
    font-size: 29px;
  }
  #platform .platform--block p {
    font-size: 15px;
  }
  #platform .platform--photo .star {
    width: 90%;
  }
  #platform .platform--photo .img1 {
    display: none;
  }
  #platform .platform--photo .img2 {
    display: none;
  }
  #platform .platform--photo .img3 {
    display: none;
  }
  #platform .platform--photo .img4 {
    display: none;
  }
  #accor .accor {
    flex-direction: column;
    align-items: center;
  }
  #level .level--group p {
    font-size: 19px;
  }
}
@media (max-width: 650px) {
  #level .level--group p {
    font-size: 16px;
  }
  #name .name--number__tell input {
    padding: 15px 34px;
  }
}
@media (max-width: 578px) {
  #platform .platform--block p {
    font-size: 14px;
  }
  #platform .platform--block h1 {
    font-size: 26px;
  }
  #master .master--java {
    width: 323px !important;
  }
  #level .level--group p {
    font-size: 14px;
  }
  #name .name {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #name h1 {
    font-size: 26px;
  }
  #name h1 h1 {
    font-size: 26px;
  }
}
@media (max-width: 480px) {
  #follow .follow--me__just h2 {
    font-size: 22px;
    padding-left: 10px;
  }
  #follow .follow--me__just p {
    font-size: 15px;
  }
  #follow .follow--me__hidden h4 {
    padding-left: 37px;
  }
  #platform .platform--block h1 {
    font-size: 21px;
    line-height: 2;
  }
  #platform .platform--block p {
    font-size: 11px;
    line-height: 2;
  }
  #footer .footer {
    flex-direction: column;
  }
  #footer .footer--our {
    display: flex;
  }
  #footer .footer--block {
    padding: 10px 0;
  }
  #footer .footer--block h2 {
    font-size: 17px;
  }
  #footer .footer--block a {
    font-size: 14px;
  }
  #footer .footer--block h5 {
    font-size: 14px;
  }
  #footer .footer--block1 {
    display: none;
  }
  #footer .footer--block4 {
    display: none;
  }
  #platform .platform--block h1 {
    font-size: 25px;
    line-height: 2;
  }
  #zayavka .zayavka--slash h1 {
    font-size: 33px;
  }
  #follow .follow--me__just h2 {
    font-size: 20px;
    padding-left: 10px;
  }
  #follow .follow--me__just p {
    font-size: 12px;
    padding-left: 10px;
  }
  #follow .follow--me__hidden h4 {
    padding-left: 37px;
  }
  #master .master--java {
    width: 168px !important;
  }
  #master .master--java__block h2 {
    font-size: 12px !important;
  }
  #master .master--java__block p {
    font-size: 9px !important;
  }
  #master .master h1 {
    font-size: 44px;
  }
  #level .level--group h1 {
    font-size: 41px;
  }
  #level .level--group p {
    font-size: 10px;
  }
  #level .level--be {
    padding: 0 0;
  }
  #level .level--be__become {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  #level .level--be__become--under {
    flex-direction: column;
  }
  #level .level--be__become--under button {
    margin-bottom: 20px;
  }
  #school .school--mission h1 {
    font-size: 35px;
  }
  #school .school--mission p {
    font-size: 15px !important;
  }
  #follow .follow--me__just h2 {
    font-size: 20px;
    padding-left: 10px;
  }
  #follow .follow--me__just p {
    font-size: 12px;
    padding-left: 10px;
  }
  #follow .follow--me__hidden h4 {
    padding-left: 37px;
  }
  #platform .platform--block h1 {
    font-size: 25px;
    line-height: 2;
  }
  #platform .platform--block p {
    font-size: 10px;
    line-height: 2;
  }
}
@media (max-width: 400px) {
  #platform .platform--block h1 {
    font-size: 25px;
    line-height: 2;
  }
  #platform .platform--block p {
    font-size: 12px;
    line-height: 2;
  }
  #latest .latest--article__fly {
    width: 100%;
  }
  #latest .latest--article__fly img {
    width: 100%;
  }
  #follow .follow--me__just h2 {
    font-size: 19px;
    padding-left: 10px;
  }
  #follow .follow--me__just p {
    font-size: 12px;
    padding-left: 10px;
  }
  #follow .follow--me__hidden h4 {
    padding-left: 37px;
  }
}
@media (max-width: 375px) {
  #zayavka .zayavka--slash p {
    font-size: 14px;
  }
  #zayavka .zayavka--cap__kaif input {
    padding: 15px 74px;
  }
  #follow .follow--me__just h2 {
    font-size: 17px;
    padding-left: 10px;
  }
  #follow .follow--me__just p {
    font-size: 11px;
    padding-left: 10px;
  }
  #follow .follow--me__hidden h4 {
    padding-left: 37px;
  }
  #platform .platform--block h1 {
    font-size: 25px;
    line-height: 1.5;
  }
  #platform .platform--block p {
    font-size: 11px;
    line-height: 1.5;
  }
}
@media (max-width: 480px) {
  #level .level--group p {
    font-size: 12px;
  }
  #we .we h1 {
    font-size: 33px;
  }
  #master .master--java {
    width: 218px !important;
    padding: 30px 47px !important;
  }
  #master .master--java__block p {
    font-size: 12px;
  }
  #master .master--java__block h2 {
    font-size: 14px;
  }
  #school .school--image img {
    width: 90%;
  }
  #school .school--image img h1 {
    font-size: 26px;
  }
}
@media (max-width: 420px) {
  #zayavka .zayavka--slash h1 {
    font-size: 33px;
  }
  #follow .follow--me__just h2 {
    font-size: 20px;
    padding-left: 10px;
  }
  #follow .follow--me__just p {
    font-size: 12px;
    padding-left: 10px;
  }
  #follow .follow--me__hidden h4 {
    padding-left: 37px;
  }
  #platform .platform--block h1 {
    font-size: 25px;
    line-height: 2;
  }
  #platform .platform--block p {
    font-size: 10px;
    line-height: 2;
  }
  #platform .platform--block p__hidden h4 {
    padding-left: 37px;
  }
  #platform .platform--block h1 {
    font-size: 25px;
    line-height: 2;
  }
  #platform .platform--block p {
    font-size: 12px;
    padding-left: 10px;
  }
  #platform .platform__hidden h4 {
    padding-left: 37px;
  }
}
@media (max-width: 320px) {
  #accor .accor--photo h1 {
    font-size: 32px;
  }
  #follow .follow--me__just h2 {
    font-size: 15px;
    padding-left: 10px;
  }
  #follow .follow--me__just p {
    font-size: 9px;
    padding-left: 10px;
  }
  #follow .follow--me__hidden h4 {
    padding-left: 37px;
  }
  #platform .platform--block h1 {
    font-size: 22px;
    line-height: 1.5;
  }
  #platform .platform--block p {
    font-size: 10px;
    line-height: 1.5;
    font-size: 25px;
    line-height: 2;
  }
  #platform .platform--block p {
    font-size: 10px;
    line-height: 2;
  }
}
@media (max-width: 375px) {
  #zayavka .zayavka--slash p {
    font-size: 14px;
  }
  #school .school--mission p {
    font-size: 14px !important;
  }
  #level .level--group h1 {
    font-size: 41px !important;
  }
  #level .level--group p {
    font-size: 10px !important;
  }
  #we .we h1 {
    font-size: 29px !important;
  }
}
@media (max-width: 375px) {
  #school .school--mission h1 {
    font-size: 38px !important;
  }
  #school .school--mission p {
    font-size: 13px !important;
  }
  #level .level--group h1 {
    font-size: 34px !important;
  }
  #level .level--group p {
    font-size: 9px !important;
  }
  #level .level--be {
    width: 300px !important;
  }
  #level .level--be___become {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  #level--cap__kaif input {
    padding: 15px 74px;
  }
}
@media (max-width: 360px) {
  #course .course--dev h1 {
    font-size: 22px;
  }
  #master .master--java__blockP h2 {
    font-size: 11px !important;
  }
  #master .master h1 {
    font-size: 42px;
  }
  #we .we h1 {
    font-size: 27px;
  }
  #level .level--be__become--under {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 302px;
  }
}
@media (max-width: 320px) {
  #accor .accor--photo h1 {
    font-size: 32px;
  }
  #follow .follow--me__just h2 {
    font-size: 15px;
    padding-left: 10px;
  }
  #follow .follow--me__just p {
    font-size: 9px;
    padding-left: 10px;
  }
  #follow .follow--me__hidden h4 {
    padding-left: 37px;
  }
  #platform .platform--block h1 {
    font-size: 22px;
    line-height: 1.5;
  }
  #zayavka .zayavka--slash p {
    font-size: 13px;
  }
  #zayavka .zayavka--cap__kaif input {
    width: 161px !important;
    height: 21px !important;
  }
  #school .school--mission h1 {
    font-size: 32px !important;
  }
  #school .school--mission p {
    font-size: 11px !important;
  }
  #we .we h1 {
    font-size: 24px !important;
  }
  #name .name--there p {
    font-size: 12px !important;
  }
  #master .master h1 {
    font-size: 37px !important;
  }
  #master .master--java {
    width: 136px !important;
    padding: 30px 38px;
  }
  #master .master--java__block p {
    font-size: 9px !important;
    font-weight: 700;
  }
  #master .master--java__block h2 {
    font-size: 9px !important;
  }
  #course .course--dev h1 {
    font-size: 20px !important;
  }
  #course .course--dev p {
    font-size: 12px !important;
  }
  #level .level--be {
    width: 277px !important;
  }
  #level .level--group h1 {
    font-size: 34px;
  }
}
@media (max-width: 480px) {
  #follow .follow--me__just h2 {
    font-size: 22px;
    padding-left: 10px;
  }
  #follow .follow--me__just p {
    font-size: 15px;
  }
  #follow .follow--me__hidden h4 {
    padding-left: 37px;
  }
  #platform .platform--block h1 {
    font-size: 21px;
    line-height: 2;
  }
  #platform .platform--block p {
    font-size: 11px;
    line-height: 2;
  }
  #footer .footer {
    flex-direction: column;
  }
  #footer .footer--our {
    display: flex;
  }
  #footer .footer--block {
    padding: 10px 0;
  }
  #footer .footer--block h2 {
    font-size: 17px;
  }
  #footer .footer--block a {
    font-size: 14px;
  }
  #footer .footer--block h5 {
    font-size: 14px;
  }
  #footer .footer--block1 {
    display: none;
  }
  #footer .footer--block4 {
    display: none;
  }
}
* {
  padding: 0;
  margin: 0;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

body {
  font-family: sans-serif;
  background: #044076;
}

button {
  cursor: pointer;
  border: none;
}

input {
  background: rgba(27, 41, 89, 0.4);
  border-radius: 15px;
  border: none;
  outline: none;
  color: white;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}

#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}

.menu__btn {
  position: fixed;
  top: 55px;
  left: 88%;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #d92727;
  transition-duration: 0.25s;
}

.menu__btn > span::before {
  content: "";
  top: -8px;
}

.menu__btn > span::after {
  content: "";
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 150%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #718897;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition-duration: 0.25s;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
}

.menu__item:hover {
  background-color: #CFD8DC;
}

#header {
  background: rgba(177, 176, 197, 0.11);
  position: fixed;
  width: 100%;
  backdrop-filter: blur(10px);
  padding: 20px 0;
  z-index: 999;
}
#header .hamburger-menu {
  display: none;
}
#header .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header .header--logo {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header .header--logo__text a {
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  padding: 0 15px;
  transition: 0.4s;
}
#header .header--logo__text a:hover {
  transform: scale(1.1);
  text-decoration-line: underline;
}
#header .header--btn {
  display: flex;
  align-items: center;
}
#header .header--btn button {
  font-weight: 500;
  font-size: 16px;
  padding: 10px 25px;
  color: #FFFFFF;
  background: #034078;
  border-radius: 10px;
  transition: 0.4s;
  background: transparent;
}
#header .header--btn button:hover {
  transform: scale(1.1);
  background: transparent;
  color: #000000;
  font-weight: 600;
  border: none;
}
#header .header--btn__fol button {
  font-weight: 500;
  font-size: 16px;
  padding: 10px 25px;
  color: #FFFFFF;
  background: #034078;
  border-radius: 10px;
  transition: 0.4s;
}
#header .header--btn__fol button:hover {
  transform: scale(1.1);
  background: transparent;
  color: #000000;
  font-weight: 600;
  border: none;
}

#java .java {
  padding-top: 120px;
}
#java .java--block a {
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  padding: 0 15px;
  transition: 0.4s;
  color: #A5A5A5;
}
#java .java--block a:hover {
  transform: scale(1.1);
  text-decoration-line: underline;
}
#java .java--title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 920px;
}
#java .java--title__text h1 {
  padding-top: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
}
#java .java--title__text p {
  padding-top: 20px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}
#java .java--title__text button {
  font-weight: 500;
  font-size: 16px;
  padding: 10px 25px;
  color: #FFFFFF;
  background: #034078;
  border-radius: 10px;
  transition: 0.4s;
  margin-top: 20px;
}
#java .java--title__text button:hover {
  transform: scale(1.1);
  background: transparent;
  color: #000000;
  font-weight: 600;
  border: none;
}
#java .java--about__right {
  margin-top: -112px;
}
#java .java--about__right p {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}
#java .java--about__right h1 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  padding: 10px 0;
  color: #FFFFFF;
}
#java .java--about__left {
  margin-bottom: -90%;
}
#java .java--about__left h3 {
  padding-top: 70px;
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
}
#java .java--about__left h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 44px;
  color: #FFFFFF;
}

#program .program {
  padding-top: 90px;
}
#program .program--block a {
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  padding: 0 15px;
  transition: 0.4s;
  color: #A5A5A5;
}
#program .program--block a:hover {
  transform: scale(1.1);
  text-decoration-line: underline;
}
#program .program--title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 920px;
}
#program .program--title__text {
  padding-top: 20px;
}
#program .program--title__text h1 {
  font-weight: 700;
  font-size: 48px;
  color: #FFFFFF;
  font-size: 36px;
}
#program .program--title__text p {
  font-weight: 500;
  font-size: 20px;
  color: #FFFFFF;
  padding: 10px 0;
  width: 630px;
}
#program .program--about {
  padding-top: 15%;
}
#program .program--about__right p {
  font-weight: 500;
  font-size: 20px;
  color: #FFFFFF;
  padding: 10px 0;
  font-weight: 400;
}
#program .program--about__right h1 {
  font-weight: 700;
  font-size: 48px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 20px;
}
#program .program--about__left h3 {
  font-weight: 500;
  font-size: 20px;
  color: #FFFFFF;
  padding: 10px 0;
  padding-top: 70px;
  font-weight: 400;
}
#program .program--about__left h4 {
  font-weight: 700;
  font-size: 48px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 20px;
}
#program .program--file {
  padding-top: 10%;
}
#program .program--file h1 {
  font-weight: 700;
  font-size: 48px;
  color: #FFFFFF;
  font-size: 20px;
}
#program .program--file ul {
  padding-top: 30px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}
#program .program--btn {
  margin: 50px 20px;
}
#program .program--btn button {
  font-weight: 500;
  font-size: 16px;
  padding: 10px 25px;
  color: #FFFFFF;
  background: #034078;
  border-radius: 10px;
  transition: 0.4s;
  margin: 0 20px;
}
#program .program--btn button:hover {
  transform: scale(1.1);
  background: transparent;
  color: #000000;
  font-weight: 600;
  border: none;
}

#process .process {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 90px;
}
#process .process--block h1 {
  font-weight: 700;
  font-size: 48px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 36px;
}
#process .process--block__it {
  margin-top: 20px;
}
#process .process--block__it button {
  font-weight: 500;
  font-size: 16px;
  padding: 10px 25px;
  color: #FFFFFF;
  background: #034078;
  border-radius: 10px;
  transition: 0.4s;
}
#process .process--block__it button:hover {
  transform: scale(1.1);
  background: transparent;
  color: #000000;
  font-weight: 600;
  border: none;
}
#process .process--block__it--inp {
  margin: 20px 0;
}
#process .process--block__it--inp input {
  border: 1px solid #044076;
  border-radius: 10px;
}

#front .front {
  padding-top: 90px;
}
#front .front--block {
  display: flex;
  align-items: center;
  justify-content: center;
}
#front .front--text p {
  font-weight: 500;
  font-size: 20px;
  color: #FFFFFF;
  padding: 10px 0;
  color: #A5A5A5;
  text-align: center;
}
#front .front--text h1 {
  font-weight: 700;
  font-size: 48px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}
#front .front--text h4 {
  font-weight: 400;
  font-size: 12px;
  color: #FFFFFF;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
}

#study h1 {
  font-weight: 700;
  font-size: 48px;
  color: #FFFFFF;
  font-size: 36px;
}
#study p {
  font-weight: 500;
  font-size: 20px;
  color: #FFFFFF;
  padding: 10px 0;
  width: 61%;
}
#study .study {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 90px;
}
#study .study--block__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  width: 107%;
}
#study .study--block__title--text {
  width: 300px;
  height: 300px;
  background: linear-gradient(180deg, rgba(0, 84, 160, 0.2) 0%, rgba(0, 11, 48, 0.2) 100%);
  border: 1px solid #0272CE;
  backdrop-filter: blur(22px);
  border-radius: 10px;
}
#study .study--block__title--text h1 {
  font-weight: 700;
  font-size: 48px;
  color: #FFFFFF;
  padding-top: 10%;
  text-align: center;
}
#study .study--block__title--text h2 {
  font-weight: 500;
  font-size: 20px;
  color: #FFFFFF;
  text-align: center;
}
#study .study--block__title--text p {
  font-weight: 500;
  font-size: 20px;
  color: #FFFFFF;
  padding: 10px 0;
  width: 268px;
  padding-left: 8%;
}
#study .study--about {
  padding: 50px 5%;
  background: #FFFFFF;
  border-radius: 10px;
}
#study .study--about h3 {
  padding-top: 10%;
  text-align: center;
  width: 319px;
}
#study .study--about h1 {
  padding: 20px 20px;
  color: black;
}
#study .study--about p {
  width: 263px;
  text-align: center;
  font-size: 16px;
  color: #000000;
}
#study .study--about button {
  font-weight: 500;
  font-size: 16px;
  padding: 10px 25px;
  color: #FFFFFF;
  background: #034078;
  border-radius: 10px;
  transition: 0.4s;
}
#study .study--about button:hover {
  transform: scale(1.1);
  background: transparent;
  color: #000000;
  font-weight: 600;
  border: none;
}

#come .come {
  padding-top: 90px;
}
#come .come--block p {
  font-weight: 500;
  font-size: 20px;
  color: #FFFFFF;
  padding: 10px 0;
  color: #A5A5A5;
}
#come .come--block h1 {
  font-weight: 700;
  font-size: 48px;
  color: #FFFFFF;
  font-size: 36px;
}
#come .come .acardion {
  padding-top: 50px;
  max-width: 800px;
  list-style: none;
}
#come .come .acardion__item {
  position: relative;
  margin: 20px 10px;
}
#come .come .acardion__item--active .acardion__content {
  height: 200px;
  padding: 10px;
  opacity: 1;
  color: grey;
}
#come .come .acardion__item--active .acardion__label::before {
  content: "↑";
}
#come .come .acardion__label {
  font-size: 16px;
  position: relative;
  padding: 10px;
  color: #fff;
  background: none;
  cursor: pointer;
  text-transform: uppercase;
}
#come .come .acardion__label::before {
  position: absolute;
  content: " ↓ ";
  top: 27%;
  right: 2%;
  font-size: 1.5em;
  transform: translateY(-50%);
}
#come .come .acardion__content {
  font-size: 18px;
  font-weight: 400;
  position: relative;
  opacity: 0;
  height: 0;
  transition: 0.5s;
  background: none;
}

#footer .footer {
  padding-top: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: flex-start;
}
#footer .footer--our__ru {
  padding-top: 10px;
  display: flex;
  align-items: center;
}
#footer .footer--our__ru h4 {
  border: 2px solid #ffffff;
  border-radius: 3px;
  font-weight: 400;
  font-size: 13px;
  color: #FFFFFF;
}
#footer .footer--block h2 {
  font-weight: 500;
  font-size: 20px;
  color: #FFFFFF;
}
#footer .footer--block h3 {
  font-weight: 400;
  font-size: 15px;
  padding: 10px 0;
  color: #FFFFFF;
}
#footer .footer--block ion-icon {
  color: #FFFFFF;
  font-size: 25px;
  font-size: 18px;
}
#footer .footer--block a {
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  padding: 0 15px;
  transition: 0.4s;
  padding: 0 0;
  line-height: 2;
}
#footer .footer--block a:hover {
  transform: scale(1.1);
  text-decoration-line: underline;
}
#footer .footer--block a ion-icon {
  color: #FFFFFF;
  font-size: 25px;
  margin: 10px 10px;
}
#footer .footer--block h5 {
  font-weight: 400;
  font-size: 15px;
  color: #FFFFFF;
  font-size: 15px;
  color: #FFFFFF;
  padding: 10px 0;
}
#footer .footer--block1 h2 {
  font-weight: 500;
  font-size: 20px;
  color: #FFFFFF;
}
#footer .footer--block1 h3 {
  font-weight: 400;
  font-size: 15px;
  padding: 10px 0;
  color: #FFFFFF;
}
#footer .footer--block1 ion-icon {
  color: #FFFFFF;
  font-size: 25px;
  font-size: 18px;
}
#footer .footer--block1 a {
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  padding: 0 15px;
  transition: 0.4s;
  padding: 0 0;
  line-height: 2;
}
#footer .footer--block1 a:hover {
  transform: scale(1.1);
  text-decoration-line: underline;
}
#footer .footer--block1 a ion-icon {
  color: #FFFFFF;
  font-size: 25px;
  margin: 10px 10px;
}
#footer .footer--block1 h5 {
  font-weight: 400;
  font-size: 15px;
  color: #FFFFFF;
  font-size: 15px;
  color: #FFFFFF;
  padding: 10px 0;
}
#footer .footer--block4 h2 {
  font-weight: 500;
  font-size: 20px;
  color: #FFFFFF;
}
#footer .footer--block4 h3 {
  font-weight: 400;
  font-size: 15px;
  padding: 10px 0;
  color: #FFFFFF;
}
#footer .footer--block4 ion-icon {
  color: #FFFFFF;
  font-size: 25px;
  font-size: 18px;
}
#footer .footer--block4 a {
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  padding: 0 15px;
  transition: 0.4s;
  padding: 0 0;
  line-height: 2;
}
#footer .footer--block4 a:hover {
  transform: scale(1.1);
  text-decoration-line: underline;
}
#footer .footer--block4 a ion-icon {
  color: #FFFFFF;
  font-size: 25px;
  margin: 10px 10px;
}
#footer .footer--block4 h5 {
  font-weight: 400;
  font-size: 15px;
  color: #FFFFFF;
  font-size: 15px;
  color: #FFFFFF;
  padding: 10px 0;
}

/*# sourceMappingURL=stylenine.css.map */
