@media (max-width: 1440px) {
  .container {
    width: 90%;
  }

}

@media (max-width: 1200px) {
  #level {
    .level {

      flex-direction: column;
    }

  }


}

@media (max-width: 1024px) {

  #platform {
    .platform {
      flex-direction: column;
      align-items: center;
    }
  }

}

@media (max-width: 992px) {
  #platform {
    .platform {
      &--block {
        p {
          font-size: 18px;
        }

        h1 {
          font-size: 45px;
        }
      }
    }
  }


  #master {
    .master {
      &--java {
        width: 728px;

        &__block {
          p {
            font-size: 15px;
          }
        }
      }

    }
  }

  #course {
    .course {
      &--dev {
        padding: 0 8px;

      }

    }
  }

  #school {
    .school {
      &--mission {
        p {
          font-size: 17px;

        }

        h1 {
          font-size: 45px;
        }

      }

    }
  }

}

@media (max-width: 992px) {
  #course {
    .course {
      &--dev {
        padding: 0 8px;

        p {
          font-size: 14px;
        }
      }
    }

  }

  #school {
    .school {
      &--mission {
        p {
          font-size: 16px;

        }
      }
    }
  }
  #master {
    .master {
      &--java {
        width: 690px;

        &__block {
          p {
            font-size: 14px;
          }
        }
      }

    }
  }

  #master {
    .master {
      &--java {
        width: 410px !important;

        &__block {
          p {
            font-size: 16px !important;
          }

          h2 {
            font-size: 13px !important;

          }
        }

      }


    }
  }

}


@media (max-width: 820px) {


  #footer {
    .footer {
      flex-wrap: wrap;
    }
  }

  #course {
    .course {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;

      &--dev {
        padding: 0 20px;
        margin: 13px;
      }
    }
  }

  #school {
    .school {
      padding-top: 50px;
      flex-direction: column;
    }
  }

  #master {
    .master {
      &--java {
        width: 456px;

        &__block {
          h2 {
            font-size: 15px;
          }

          p {
            font-size: 17px;
          }
        }
      }

    }
  }

  #footer {
    .footer {
      flex-wrap: wrap;
    }
  }

  #zayavka {


    .zayavka {
      &--cap {
        &__kaif {
          input {
            padding: 15px 95px;
          }
        }
      }
    }
  }


  #accor {
    .accor {
      &--photo {
        h1 {
          font-size: 35px;
        }

        img {
          width: 43%;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #name {
    .name {
      &--there {
        p {
          font-size: 13px;

        }

        h1 {
          font-size: 32px;
        }
      }

      &--number {
        &__tell {
          input {
            padding: 15px 75px;


          }
        }
      }
    }
  }

  #zayavka {
    .zayavka {
      flex-direction: column;
      align-items: center;
    }
  }
  #header {
    .hamburger-menu {
      display: block;
    }

    .header {
      &--logo {
        &__text {
          display: none;
        }

      }

      &--btn {
        display: none;
      }
    }
  }


  #platform {
    .platform {
      &--block {
        p {
          font-size: 16px;
        }

        h1 {
          font-size: 35px;
        }
      }
    }
  }
  #zayavka {
    .zayavka {
      flex-direction: column;
      align-items: center;
    }
  }
  #header {
    .hamburger-menu {
      display: block;
    }

    .header {
      &--logo {
        &__text {
          display: none;
        }

      }

      &--btn {
        display: none;
      }
    }
  }


}


@media (max-width: 650px) {
  #follow {
    .follow {
      &--me {
        flex-direction: column;
      }

      &__hidden {
        h4 {
          padding-left: 37px;
        }
      }
    }
  }
  #platform {
    .platform {
      &--block {
        h1 {
          font-size: 29px;
        }

        p {
          font-size: 15px;
        }
      }

      &--photo {
        .star {
          width: 90%;
        }

        .img1 {
          display: none;
        }

        .img2 {
          display: none;
        }

        .img3 {
          display: none;
        }

        .img4 {
          display: none;
        }
      }
    }
  }
  #accor {
    .accor {
      flex-direction: column;
      align-items: center;
    }
  }

  #level {
    .level {
      &--group {
        p {
          font-size: 19px;

        }
      }
    }
  }
}

@media (max-width: 650px) {
  #level {
    .level {
      &--group {
        p {
          font-size: 16px;
        }

      }
    }
  }

  #name {
    .name {
      &--number {
        &__tell {
          input {
            padding: 15px 34px;


          }


        }
      }


    }
  }
}


@media (max-width: 578px) {

  #master {
    .master {
      &--java {
        width: 323px !important;
      }


    }
  }

  #level {
    .level {
      &--group {
        p {
          font-size: 14px;
        }

      }
    }
  }

  #name {
    .name {
      display: flex;
      flex-direction: column;
      align-items: center;
    }


    h1 {
      font-size: 26px;

      h1 {
        font-size: 26px;
      }
    }
  }
}

@media (max-width: 480px) {
  #follow {
    .follow {
      &--me {
        &__just {
          h2 {
            font-size: 22px;
            padding-left: 10px;
          }

          p {

            font-size: 15px;
          }
        }

        &__hidden {
          h4 {
            padding-left: 37px;
          }
        }
      }
    }
  }
  #platform {
    .platform {
      &--block {
        h1 {
          font-size: 21px;
          line-height: 2;
        }

        p {
          font-size: 11px;
          line-height: 2;
        }
      }
    }
  }
  #footer {
    .footer {
      flex-direction: column;

      &--our {
        display: flex;
      }

      &--block {
        padding: 10px 0;

        h2 {
          font-size: 17px;
        }

        a {
          font-size: 14px;
        }

        h5 {
          font-size: 14px;
        }
      }

      &--block1 {
        display: none;
      }

      &--block4 {
        display: none;
      }
    }
  }
  #platform {
    .platform {
      &--block {
        h1 {
          font-size: 25px;
          line-height: 2;
        }


        #zayavka {
          .zayavka {
            &--slash {
              h1 {
                font-size: 33px;
              }
            }
          }
        }

        #follow {
          .follow {
            &--me {
              &__just {
                h2 {
                  font-size: 20px;
                  padding-left: 10px;
                }

                p {
                  font-size: 12px;
                  padding-left: 10px;
                }
              }

              &__hidden {
                h4 {
                  padding-left: 37px;

                }
              }
            }
          }
        }

        #master {
          .master {
            &--java {
              width: 168px !important;

              &__block {
                h2 {
                  font-size: 12px !important;
                }

                p {
                  font-size: 9px !important;
                }

              }
            }

            h1 {
              font-size: 44px;
            }
          }
        }

        #level {
          .level {
            &--group {
              h1 {
                font-size: 41px;

              }

              p {
                font-size: 10px;
              }
            }

            &--be {
              padding: 0 0;

              &__become {
                display: flex;
                align-items: center;
                flex-direction: column;

                &--under {
                  flex-direction: column;

                  button {
                    margin-bottom: 20px;
                  }
                }

              }
            }
          }
        }

        #school {
          .school {
            &--mission {
              h1 {
                font-size: 35px;

              }

              p {
                font-size: 15px !important;
              }
            }
          }
        }


        #zayavka {
          .zayavka {
            &--slash {
              h1 {
                font-size: 33px;
              }
            }
          }
        }

        #follow {
          .follow {
            &--me {
              &__just {
                h2 {
                  font-size: 20px;
                  padding-left: 10px;
                }

                p {
                  font-size: 12px;
                  padding-left: 10px;
                }
              }

              &__hidden {
                h4 {
                  padding-left: 37px;

                }
              }
            }
          }
        }

        #platform {
          .platform {
            &--block {
              h1 {
                font-size: 25px;
                line-height: 2;
              }


              p {
                font-size: 10px;
                line-height: 2;
              }
            }
          }
        }
      }
    }
  }


  #master {
    .master h1 {
      font-size: 39px !important;
    }
  }
  #latest {
    .latest {
      &--article {
        &__fly {
          width: 100%;


          img {
            width: 100%;
          }
        }
      }
    }
  }
  #follow {
    .follow {
      &--me {
        &__just {
          h2 {
            font-size: 19px;
            padding-left: 10px;
          }

          p {
            font-size: 12px;
            padding-left: 10px;
          }
        }

        &__hidden {
          h4 {
            padding-left: 37px;

          }


          img {
            width: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  #level {
    .level {
      &--group {
        p {
          font-size: 12px;

        }
      }
    }

  }
  #we {
    .we {
      h1 {
        font-size: 33px;

      }

    }
  }
  #master {
    .master {
      &--java {
        width: 218px !important;
        padding: 30px 47px !important;

        &__block {
          p {
            font-size: 12px;
          }

          h2 {
            font-size: 14px;
          }
        }
      }


    }
  }
  #school {
    .school {

      &--image {
        img {
          width: 90%;

          h1 {
            font-size: 26px;
          }
        }
      }
    }
  }
}

@media (max-width: 420px) {
  #zayavka {
    .zayavka {
      &--slash {
        h1 {
          font-size: 33px;
        }
      }
    }
  }
  #follow {
    .follow {
      &--me {
        &__just {
          h2 {
            font-size: 20px;
            padding-left: 10px;
          }

          p {
            font-size: 12px;
            padding-left: 10px;
          }
        }

        &__hidden {
          h4 {
            padding-left: 37px;

          }
        }
      }
    }
  }
}

@media (max-width: 400px) {

  #platform {
    .platform {
      &--block {
        h1 {
          font-size: 25px;
          line-height: 2;
        }


        p {
          font-size: 12px;
          padding-left: 10px;
        }
      }

      &__hidden {
        h4 {
          padding-left: 37px;

        }
      }
    }
  }

  #platform {
    .platform {
      &--block {
        h1 {
          font-size: 25px;
          line-height: 2;
        }


        p {
          font-size: 10px;
          line-height: 2;
        }
      }
    }
  }
}


  @media (max-width: 375px) {
    #zayavka {
      .zayavka {
        &--slash {
          p {
            font-size: 14px;
          }
        }
      }
    }


    #school {
      .school {
        &--mission {
          p {
            font-size: 14px !important;

          }
        }
      }
    }

    #level {
      .level {
        &--group {
          h1 {
            font-size: 41px !important;

          }

          p {
            font-size: 10px !important;
          }
        }
      }
    }

    #we {
      .we {
        h1 {
          font-size: 29px !important;
        }
      }
    }

  }

  @media (max-width: 375px) {
    #school {
      .school {
        &--mission {
          h1 {
            font-size: 38px !important;
          }

          p {
            font-size: 13px !important;

          }
        }
      }
    }
    #level {
      .level {
        &--group {
          h1 {
            font-size: 34px !important;

          }

          p {
            font-size: 9px !important;

          }
        }

        &--be {
          width: 300px !important;

          &___become {
            display: flex;
            align-items: center;
            flex-direction: column;
          }
        }
      }


      &--cap {
        &__kaif {
          input {
            padding: 15px 74px;
          }
        }
      }
    }
  }

  @media (max-width: 360px) {
    #course {
      .course {
        &--dev {
          h1 {
            font-size: 22px;

          }

        }
      }
    }
    #master {
      .master {
        &--java {
          &__blockP {
            h2 {
              font-size: 11px !important;

            }
          }
        }

        h1 {
          font-size: 42px;
        }
      }
    }
    #we {
      .we {
        h1 {
          font-size: 27px;
        }
      }
    }
    #level {
      .level {
        &--be {
          &__become {
            &--under {
              display: flex;
              align-items: center;
              justify-content: space-between;
              width: 302px;
            }
          }
        }

      }
    }
  }

  @media (max-width: 320px) {
    #accor {
      .accor {
        &--photo {
          h1 {
            font-size: 32px;
          }
        }
      }
    }
    #follow {
      .follow {
        &--me {
          &__just {
            h2 {
              font-size: 15px;
              padding-left: 10px;
            }

            p {
              font-size: 9px;
              padding-left: 10px;
            }
          }

          &__hidden {
            h4 {
              padding-left: 37px;

            }

          }
        }
      }
    }
    #platform {
      .platform {
        &--block {
          h1 {
            font-size: 22px;
            line-height: 1.5;
          }
        }
      }
    }
    #zayavka {
      .zayavka {
        &--slash {
          p {
            font-size: 13px;
          }
        }

        &--cap {
          &__kaif {
            input {
              padding: 15px 53px;
            }
          }
        }
      }
    }




    #school {
      .school {
        &--mission {
          h1 {
            font-size: 32px !important;
          }

          p {
            font-size: 11px !important;

          }
        }
      }
    }

    #we {
      .we {

        h1 {
          font-size: 24px !important;
        }
      }

    }

    #name {
      .name {
        &--there {
          p {
            font-size: 12px !important;

          }
        }
      }
    }

    #master {
      .master {
        h1 {
          font-size: 37px !important;
        }

        &--java {
          width: 136px !important;
          padding: 30px 38px;


          &__block {
            p {
              font-size: 9px !important;
              font-weight: 700;
            }

            h2 {
              font-size: 9px !important;
            }
          }
        }

      }
    }

    #course {
      .course {
        &--dev {
          h1 {
            font-size: 20px !important;

          }


          p {
            font-size: 12px !important;
          }
        }
      }

    }

    #level {
      .level {
        &--be {
          width: 277px !important;
        }

        &--group {
          h1 {
            font-size: 34px;

          }
        }
      }
    }}











