@media (max-width: 1440px) {
  .container {
    width: 90% !important;
  }
}

@media (max-width: 1200px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 992px) {
  #react {
    .react {
      &--lesson {
        padding-top: 10%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;

        &__youtube {
          &--we1 {


            margin-top: 26px;
          }

        }
      }

    }
  }

}

@media (max-width: 820px) {
  #react {
    .react {
      &--front {
        &__develop {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 354px;

        }
      }

    }
  }
}

@media (max-width: 768px) {
  #react {
    .react {
      &--front {
        &__develop {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 397px !important;

        }
      }

    }
  }
  #header {
    .hamburger-menu {
      display: block;
    }

    .header {
      &--logo {
        &__text {
          display: none;
        }

      }

      &--btn {
        display: none;
      }
    }
  }


}

@media (max-width: 650px) {
  #react {
    .react {
      &--front {
        padding-top: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;

        div {
          display: flex;
          text-align: center;
          align-items: center;
          justify-content: center;
          flex-direction: column;
        }

        p {
          text-align: center;

        }

        h1 {
          text-align: center;
        }

        &__develop {
          padding-top: 20px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 232px !important;

          &--end {
            h5 {
              padding-top: 10px;
            }

          }
        }
      }

    }
  }
}

@media (max-width: 578px) {
  #page{
    .page{
      &--frame{
        h1 {

          width: 79% !important;
        }

      }
    }
  }
  #react {
    .react{
      &--lesson{
        width: 100%;
      }
    }
  }
}

@media (max-width: 480px) {
  #footer {
    .footer {
      flex-direction: column;

      &--our {
        display: flex;
      }

      &--block {
        padding: 10px 0;

        h2 {
          font-size: 17px;
        }

        a {
          font-size: 14px;
        }

        h5 {
          font-size: 14px;
        }
      }

      &--block1 {
        display: none !important;
      }

      &--block4 {
        display: none !important;
      }
    }
  }
  #react {
    .react{
      &--lesson{
        width: 100%;
        iframe{
          width: 90%;
        }
        &__youtube{
          &--we {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 10%;
            width: 404px !important;
            margin: 5% 0;

          }
          &--under{
            button{
              padding: 10px 20px !important;
            }
          }
        }

      }
    }
  }

}

@media (max-width: 420px) {
  #react {
    .react{
      &--lesson{
        &__youtube{
          &--we{
            &__open{
              width: 268px;
            }
          }
          &--we2{
            width: 393px!important;
          }
          &--we3{
            width: 393px!important;
          }
          &--we4{
            width: 393px!important;
          }

          &--under{
            flex-direction: column;
            button {
              background: #FFFFFF;
              border-radius: 10px;
              font-weight: 600;
              padding: 10px 1px;
              font-size: 15px;
              transition: 0.4s;
              color: #000000;
              margin: 44px 64px!important;
            }
          }

        }
      }
    }
  }
}

@media (max-width: 400px) {
  #page{
    .page{
   ul {
        padding: 20px 0;
        font-weight: 500;
        font-size: 18px;
        color: #FFFFFF;
        margin-left: 68px;
      }
      &--frame{
        h1 {
          font-size: 20px;
          font-weight: 400;
          color: #FFFFFF;
          width: 50%;
          margin-left: 49px;
        }

      }
      }
  }
}

@media (max-width: 375px) {
}

@media (max-width: 360px) {
}

@media (max-width: 320px) {
  #react {
    .react{
      &--lesson{
        &__youtube{
          &--we2 {
            width: 364px !important;
            margin: 5% 17px!important;
          }
          &--we1 {
            margin-top: 26px;
            margin-left: 20px;
          }
        }
      }
    }

  }
}
