@media (max-width: 1440px) {
  .container {
    width: 90%;
  }

}

@media (max-width: 1200px) {

}

@media (max-width: 1024px) {
  #platform {
    .platform {
      flex-direction: column;
      align-items: center;
    }
  }
}

@media (max-width: 992px) {
  #platform {
    .platform {
      &--block {
        p {
          font-size: 18px;
        }
        h1{
          font-size: 45px;
        }
      }
    }
  }
}

@media (max-width: 820px) {
  #footer {
    .footer {
      flex-wrap: wrap;
    }
  }
  #zayavka {

    .zayavka {
      &--cap {
        &__kaif {
          input {
            padding: 15px 95px;
          }
        }
      }
    }
  }
  #accor {
    .accor {
      &--photo {
        h1 {
          font-size: 35px;
        }

        img {
          width: 43%;
        }
      }
    }
  }
  #platform {
    .platform {
      &--block {
        p {
          font-size: 18px;
        }
        h1{
          font-size: 37px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #header {
    .hamburger-menu {
      display: block;
    }
    .header {
      &--logo {
        &__text {
          display: none;
        }

      }

      &--btn {
        display: none;
      }
    }
  }
  #glav {
    .glav {
      padding-top: 125px;
    }
  }
}

@media (max-width: 650px) {


}

@media (max-width: 578px) {

}

@media (max-width: 480px) {

  #footer {
    .footer {
      flex-direction: column;

      &--our {
        display: flex;
      }

      &--block {
        padding: 10px 0;

        h2 {
          font-size: 17px;
        }

        a {
          font-size: 14px;
        }

        h5 {
          font-size: 14px;
        }
      }

      &--block1 {
        display: none;
      }

      &--block4 {
        display: none;
      }
    }
  }
}

@media (max-width: 420px) {

}

@media (max-width: 400px) {

  #latest {
    .latest {
      &--article {
        &__fly {
          width: 100%;

          img {
            width: 100%;
          }
        }
      }
    }
  }

}

@media (max-width: 375px) {

}

@media (max-width: 360px) {

}

@media (max-width: 320px) {

}