@import "mixin";
@import "variables";
@import "reset";

@import "mediafour";

.scroll{
  overflow: hidden;
}

#header {
  .hamburger-menu {
    display: none;
  }
  background: rgba(177, 176, 197, 0.11);
  position: fixed;
  width: 100%;
  backdrop-filter: blur(10px);
  padding: 20px 0;
  z-index: 999;

  .header {
    @include df;

    &--logo {
      width: 400px;
      @include df;

      &__text {

        a {
          @include a;
        }

      }

    }

    &--btn {
      @include flex;

      button {
        @include btn;
        background: transparent;
      }

      &__fol {
        button {
          @include btn;
        }

      }
    }
  }
}

#glav{
  .glav{
    padding-top: 100px;
    padding-top: 110px;
    a{
      color:  #A5A5A5;
    }
  }
}

#latest {
  padding-top: 70px;

  .latest {
    h1{
      font-weight: 700;
      color: #FFFFFF;
      text-align: center;

    }
    &--article{
      @include df;
      flex-wrap: wrap;
      padding-top: 30px;
      &__fly {
        background: #FFFFFF;
        border-radius: 20px;
        margin: 20px 0;

        &--desc {

          &__mon {
            padding-left: 15px;

            h5 {
              @include h5;
              font-size: 14px;
              color: #898989;
            }

            p {
              @include p;
              color: #000000;
              font-size: 16px;
              font-weight: 600;
            }

            &--icon {
              @include df;

              &__club {
                button {
                  margin-left: -24px;
                  @include btn;
                  background: transparent;
                  color: #044176;

                  &:hover {
                    border: none;
                  }

                }


              }

              &__cloud {
                h4 {
                  padding-right: 65px;
                  font-size: 15px;
                  color: #044176;

                }
              }

            }
          }
        }
      }
    }

    &--best {
      @include center;

      button {
        margin-top: 30px;
        @include btn;
      }
    }
  }
}

#footer {
  padding-top: 100px;
  .footer {

    @include df;
    align-items: flex-start;

    &--our {
      &__ru {
        padding-top: 10px;
        display: flex;
        align-items: center;

        h4 {
          border: 2px solid #ffffff;
          border-radius: 3px;

          font-weight: 400;
          font-size: 13px;
          color: #FFFFFF;


        }
      }

    }

    &--block {
      h2 {
        @include h2;
      }

      h3 {
        @include h3;
      }

      ion-icon {
        @include ion;
        font-size: 18px;
      }

      a {
        @include a;
        padding: 0 0;
        line-height: 2;
        ion-icon {
          @include ion;
          margin: 10px 10px;

        }

      }

      h5 {
        @include h5;
        font-size: 15px;
        color: #FFFFFF;
        padding: 10px 0;
      }

    }
    &--block1 {
      h2 {
        @include h2;
      }

      h3 {
        @include h3;
      }

      ion-icon {
        @include ion;
        font-size: 18px;
      }

      a {
        @include a;
        padding: 0 0;
        line-height: 2;
        ion-icon {
          @include ion;
          margin: 10px 10px;

        }

      }

      h5 {
        @include h5;
        font-size: 15px;
        color: #FFFFFF;
        padding: 10px 0;
      }

    }
    &--block4 {
      h2 {
        @include h2;
      }

      h3 {
        @include h3;
      }

      ion-icon {
        @include ion;
        font-size: 18px;
      }

      a {
        @include a;
        padding: 0 0;
        line-height: 2;
        ion-icon {
          @include ion;
          margin: 10px 10px;

        }

      }

      h5 {
        @include h5;
        font-size: 15px;
        color: #FFFFFF;
        padding: 10px 0;
      }

    }
  }
}