@import "variables";
@import "mixin";
@import "media";
@import "reset";
@import "media10";



#header {
  .hamburger-menu {
    display: none;
  }
  background: rgba(177, 176, 197, 0.11);
  position: fixed;
  width: 100%;
  backdrop-filter: blur(10px);
  padding: 20px 0;
  z-index: 999;

  .header {
    @include df;

    &--logo {
      width: 400px;
      @include df;

      &__text {

        a {
          @include a;
        }

      }

    }

    &--btn {
      @include flex;

      button {
        @include btn;
        background: transparent;
      }

      &__fol {
        button {
          @include btn;
        }

      }
    }
  }
}


#course {
  .course {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    &--he {
      padding-top: 10%;

      a {
        @include a;


        color: #A5A5A5;
      }
    }

    &--frontend {
      padding-top: 90px;

      @include center;

      h1 {
        @include h1;
        padding-bottom: 20px;
      }
    }

    &--dev {
      width: 370px;
      height: 240px;
      background: #FFFFFF;
      padding: 10px 15px;
      border-radius: 15px;
      margin: 7px 0;

      h1 {
        @include h1;
        font-size: 24px;
        color: #000000;
      }

      p {
        @include p;
        font-size: 16px;
        color: #000000;

      }

      button {
        @include btn2;
        margin-bottom: 7px;
        font-weight: 700;
        background: transparent;
        color: #000000;
        border-bottom: 1px solid #000000;
        flex-direction: column-reverse;

        ion-icon {
          color: #000000;

        }
      }
    }
    &--dev1 {
      width: 370px;
      height: 240px;
      background: #FFFFFF;
      padding: 10px 15px;
      border-radius: 15px;
      margin: 7px 0;


      h1 {
        @include h1;
        font-size: 24px;
        color: #000000;
      }

      p {
        @include p;
        font-size: 16px;
        color: #000000;

      }

      button {
        @include btn2;
        margin-top: 14%;
        font-weight: 700;
        background: transparent;
        color: #000000;
        border-bottom: 1px solid #000000;
        flex-direction: column-reverse;

        ion-icon {
          text-align: center;
          justify-content: center;

          color: #000000;

        }
      }
    }
    &--dev2 {
      width: 370px;
      height: 240px;
      background: #FFFFFF;
      padding: 10px 15px;
      border-radius: 15px;
      margin: 7px 0;


      h1 {
        @include h1;
        font-size: 24px;
        color: #000000;
      }

      p {
        @include p;
        font-size: 16px;
        color: #000000;

      }

      button {
        @include btn2;
        margin-top: 6%;
        font-weight: 700;
        background: transparent;
        color: #000000;
        border-bottom: 1px solid #000000;
        flex-direction: column-reverse;

        ion-icon {
          text-align: center;
          justify-content: center;

          color: #000000;

        }
      }
    }



  }
}




#footer {
  .footer {
    padding-top: 90px;
    @include df;
    align-items: flex-start;

    &--our {
      &__ru {
        padding-top: 10px;
        display: flex;
        align-items: center;

        h4 {
          border: 2px solid #ffffff;
          border-radius: 3px;

          font-weight: 400;
          font-size: 13px;
          color: #FFFFFF;


        }
      }

    }

    &--block {
      h2 {
        @include h2;
      }

      h3 {
        @include h3;
      }

      ion-icon {
        @include ion;
        font-size: 18px;
      }

      a {
        @include a;
        padding: 0 0;
        line-height: 2;
        ion-icon {
          @include ion;
          margin: 10px 10px;

        }

      }

      h5 {
        @include h5;
        font-size: 15px;
        color: #FFFFFF;
        padding: 10px 0;
      }

    }
    &--block1 {
      h2 {
        @include h2;
      }

      h3 {
        @include h3;
      }

      ion-icon {
        @include ion;
        font-size: 18px;
      }

      a {
        @include a;
        padding: 0 0;
        line-height: 2;
        ion-icon {
          @include ion;
          margin: 10px 10px;

        }

      }

      h5 {
        @include h5;
        font-size: 15px;
        color: #FFFFFF;
        padding: 10px 0;
      }

    }
    &--block4 {
      h2 {
        @include h2;
      }

      h3 {
        @include h3;
      }

      ion-icon {
        @include ion;
        font-size: 18px;
      }

      a {
        @include a;
        padding: 0 0;
        line-height: 2;
        ion-icon {
          @include ion;
          margin: 10px 10px;

        }

      }

      h5 {
        @include h5;
        font-size: 15px;
        color: #FFFFFF;
        padding: 10px 0;
      }

    }
  }
}
