@import "mixin";
@import "variables";
@import "reset";
@import "mediaone";

.scroll{
  overflow: hidden;
}

#header {
  .hamburger-menu {
    display: none;
  }
  background: rgba(177, 176, 197, 0.11);
  position: fixed;
  width: 100%;
  backdrop-filter: blur(10px);
  padding: 20px 0;
  z-index: 999;

  .header {
    @include df;

    &--logo {
      width: 400px;
      @include df;

      &__text {

        a {
          @include a;
        }

      }

    }

    &--btn {
      @include flex;

      button {
        @include btn;
        background: transparent;
      }

      &__fol {
        button {
          @include btn;
        }

      }
    }
  }
}

#platform {

  padding-top: 70px;

  .platform {
    padding-top: 50px;
    @include start;

    &--block {
      width: 50%;

      h1 {
        @include h1;
      }

      p {
        @include p;
        padding: 20px 0;
      }
    }

    &--photo {
      //width: 50%;
      @include df;
      position: relative;

      .img1 {
        position: absolute;
        top: 30px;
        right: 235px
      }

      .img2 {
        position: absolute;
        left: 90px;
        top: 190px;
      }

      .img3 {
        position: absolute;
        top: 230px;
        right: -34px;
      }

      .img4 {
        position: absolute;
        right: 135px;
        bottom: -30px;
      }
    }
  }
}

#latest {
  padding-top: 100px;

  .latest {
    &--article {
      @include df;
      flex-wrap: wrap;

      &__fly {
        background: #FFFFFF;
        border-radius: 20px;
        margin: 20px 0;

        &--desc {

          &__mon {
            padding-left: 15px;

            h5 {
              @include h5;
              font-size: 14px;
              color: #898989;
            }

            p {
              @include p;
              color: #000000;
              font-size: 16px;
              font-weight: 600;
            }

            &--icon {
              @include df;

              &__club {
                button {
                  margin-left: -24px;
                  @include btn;
                  background: transparent;
                  color: #044176;

                  &:hover {
                    border: none;
                  }

                }


              }

              &__cloud {
                h4 {
                  padding-right: 65px;
                  font-size: 15px;
                  color: #044176;

                }
              }

            }
          }
        }
      }
    }

    &--best {
      @include center;

      button {
        margin-top: 30px;
        @include btn;
      }
    }
  }
}

#follow {
  padding-top: 50px;

  .follow {

    &--me {
      background: #FFFFFF;
      box-shadow: -5px -3px 10px rgba(16, 23, 47, 0.45), 9px 9px 9px rgba(10, 15, 33, 0.45);
      border-radius: 10px;
      padding: 15px 0;
      @include around;

      &__just {
        @include h1;
        color: #000000;
        font-size: 16px;

        p {
          @include p;
          color: #000000;
          font-size: 16px;
        }
      }

      &__hidden {
        button {
          @include btn;

        }

        h4 {
          @include h4;
          color: #000000;
        }
      }
    }
  }
}

#accor {
  //background: #1E2024;
  padding-top: 70px;

  .accor {
    @include start;


    &--photo {
      h1 {
        @include h1;
      }

      img {
        margin: 20px 50px;
      }
    }

    &--dem {
      input.accordion {
        // Hide checkbox
        appearance: none;
        left: -100%;
        position: absolute;
        background: transparent;
        //top: -100%;

        // Style the label text
        & + label {
          cursor: pointer;
          font-size: 20px;
          font-weight: bold;
          padding-left: $text-padding;
          color: #FFFFFF;

          // Add the '+' sign
          span::before {
            color: #767676;;
            content: '\002B';
            position: absolute;
            right: 0;
          }
        }

        // Hide the article if the checkbox is unchecked
        & ~ article {
          height: 0;
          opacity: 0;
          overflow: hidden;
          padding: 5px;
          padding-left: $text-padding;
          border: 1.5px solid #767676;
          transition: height 500ms ease,
          opacity 500ms ease;
        }

        &:checked {
          // Add the 'x' sign to each expanded dropdown item
          & + label span::before {
            content: '\00D7';
          }

          // Show the article if the checkbox is checked
          & ~ article {
            height: 100%;
            opacity: 1;
            color: #9099A3;
          }
        }
      }

      // Main content styling
      main {
        height: 100%;
        max-width: 500px;
        margin: 0 auto;
        padding: 20px;
      }

      h1 {
        font-size: 30px;
      }

      section {
        border-bottom: 1px solid $accent-color;
        padding-top: 30px;
        position: relative;

        &:first-of-type {
          padding-top: 0;
        }
      }
    }
  }
}

#zayavka {
  padding-top: 50px;

  .zayavka {
    @include start;

    &--slash {
      h1 {
        @include h1;
        font-size: 36px;
      }

      p {
        @include p;
        font-size: 16px;
      }
    }

    &--cap {

      &__kaif {
        margin: 15px 0;


        h4 {
          @include h4;
          font-size: 16px;
          color: #B5B5B5;
          margin-bottom: -8px;

        }

        img {
          position: absolute;
          top: 45px;
          left: 1%;
        }

        input{
          padding: 15px 120px;
          background: rgba(27, 41, 89, 0.4);
          border-radius: 15px;
        }
      }

      &__text {
        button {
          @include btn;
          margin-top: 20px;
          padding: 15px 40px;
        }
      }
    }

  }

}

#footer {
  .footer {
    padding-top: 90px;
    @include df;
    align-items: flex-start;

    &--our {
      &__ru {
        padding-top: 10px;
        display: flex;
        align-items: center;

        h4 {
          border: 2px solid #ffffff;
          border-radius: 3px;

          font-weight: 400;
          font-size: 13px;
          color: #FFFFFF;


        }
      }

    }

    &--block {
      h2 {
        @include h2;
      }

      h3 {
        @include h3;
      }

      ion-icon {
        @include ion;
        font-size: 18px;
      }

      a {
        @include a;
        padding: 0 0;
        line-height: 2;
        ion-icon {
          @include ion;
          margin: 10px 10px;

        }

      }

      h5 {
        @include h5;
        font-size: 15px;
        color: #FFFFFF;
        padding: 10px 0;
      }

    }
    &--block1 {
      h2 {
        @include h2;
      }

      h3 {
        @include h3;
      }

      ion-icon {
        @include ion;
        font-size: 18px;
      }

      a {
        @include a;
        padding: 0 0;
        line-height: 2;
        ion-icon {
          @include ion;
          margin: 10px 10px;

        }

      }

      h5 {
        @include h5;
        font-size: 15px;
        color: #FFFFFF;
        padding: 10px 0;
      }

    }
    &--block4 {
      h2 {
        @include h2;
      }

      h3 {
        @include h3;
      }

      ion-icon {
        @include ion;
        font-size: 18px;
      }

      a {
        @include a;
        padding: 0 0;
        line-height: 2;
        ion-icon {
          @include ion;
          margin: 10px 10px;

        }

      }

      h5 {
        @include h5;
        font-size: 15px;
        color: #FFFFFF;
        padding: 10px 0;
      }

    }
  }
}


