@import "reset";
@import "variables";
@import "mixin";





#school {
  .school {
    @include around;

    &--he {
      padding-top: 90px;

      a {
        @include a;


        color: #A5A5A5;
      }
    }

    &--mission {
      h1 {
        @include h1;
      }

      p {
        @include p;
        padding: 20px 0;
      }
    }
  }
}









#course {
  .course {
    @include evenly;

    &--frontend {
      padding-top: 90px;

      @include center;

      h1 {
        @include h1;
        padding-bottom: 20px;
      }
    }

    &--dev {
      background: #FFFFFF;
      padding: 0 15px;
      border-radius: 15px;

      h1 {
        @include h1;
        font-size: 24px;
        color: #000000;
      }

      p {
        @include p;
        font-size: 16px;
        color: #000000;

      }

      button {
        margin: 10px 0;
        @include btn2;
        font-weight: 700;
        background: transparent;
        color: #000000;
        border-bottom: 1px solid #000000;

        ion-icon {
          text-align: center;
          justify-content: center;

          color: #000000;

        }
      }
    }

    &--all {
      @include center;
      margin-top: 5%;

      button {
        @include btn;

      }
    }

  }
}

#master {
  .master {
    padding: 5% 0;

    h1 {
      @include h1;
      text-align: center;
    }

    &--java {
      margin-left: 7%;
      margin-top: 2%;
      background: #FFFFFF;
      @include center;

      width: 900px;
      padding: 30px 70px;
      box-shadow: -5px -3px 10px rgba(16, 23, 47, 0.45), 9px 9px 9px rgba(10, 15, 33, 0.45);
      border-radius: 10px;

      &__block {

        h2 {
          @include h2;
          color: #043F75;
          font-size: 20px;
          padding: 10px 0;
        }

        p {
          @include p;
          color: #000000;
          font-size: 16px;
        }
      }
    }

    &--class {
      @include center;
      padding-top: 5%;

      button {
        @include btn;
      }
    }

  }
}


#level {
  .level {
    @include df;
    &--group {
      @include center;
      flex-direction: column;
      text-align: center;

      h1 {
        @include h1;
      }

      p {
        @include p;

      }
    }

    &--be {
      background: #0A1128;
      margin-top: 4%;
      padding: 0 2%;
      box-shadow: 6px 6px 14px -117px #132049, -4px -3px 24px #040B23;
      border-radius: 10px;
      &__become {
        h3 {
          @include h3;
        }
        h5 {
          @include h5;
          font-size: 15px;
          line-height: 30px;
        }

        h1 {
          @include h1;

        }

        &--under {
          @include df;
          width: 350px;
          margin: 8% -0px;
          button {
            @include btn;
          }
          &__btn2{
            @include btn2;
            background: transparent;
          }
        }
      }
    }
  }


}

#we{
  .we {
    padding-top: 8%;
    h1{
      @include h1;
      text-align: center;
    }
    .swiper {
      width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
    }
    .swiper-slide {
      padding: 20px 0;
      background-position: center;
      background-size: cover;
      width: 300px;
      height: 300px;
      h1{
        padding: 20px 0;
        text-align: center;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
      }
      p{
        font-weight: 500;
        font-size: 13px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
      }
    }
    .swiper-slide img {
      display: block;
      width: 34%;
      padding-left: 28%;
    }


  }}

#name{
  .name{
    @include around;
    padding-top: 8%;
    align-items: flex-start;

    &--there{
      h1{
        @include h1;
        font-size: 36px;
      }
      p{
        @include p;
        font-size: 16px;
      }
    }

    &--number{
      button{
        @include btn;
        margin-top: 8%;
        padding: 10px 35px;
        border: none;
        outline: none;
      }
      &__tell{
        h3{
          @include h3;
          margin-bottom: -5px;
        }
        input{
          padding: 15px 110px  ;
          background: rgba(27, 41, 89, 0.4);
          border-radius: 5px;
          color: #FFFFFF;
        }

      }
    }
  }
}

