@import "mixin";
@import "variables";
@import "reset";
@import "mediasix";
@import "mediaone";



#header {
  .hamburger-menu {
    display: none;
  }
  background: rgba(177, 176, 197, 0.11);
  position: fixed;
  width: 100%;
  backdrop-filter: blur(10px);
  padding: 20px 0;
  z-index: 999;

  .header {
    @include df;

    &--logo {
      width: 400px;
      @include df;

      &__text {

        a {
          @include a;
        }

      }

    }

    &--btn {
      @include flex;

      button {
        @include btn;
        background: transparent;
      }

      &__fol {
        button {
          @include btn;
        }

      }
    }
  }
}



#page {
  .page {
    padding-top: 120px;

    &--frame {
      padding-top: 20px;

      h1 {
        font-size: 20px;
        font-weight: 400;
        color: #FFFFFF;
      }
    }

    &--block {
      a {
        @include a;
        color: #A5A5A5;
        padding: 0 0;
        line-height: 2;
      }

      h5 {
        @include h5;
        font-weight: 400;
        font-size: 15px;
        color: #A5A5A5;
      }
    }

    &--center {
      h1 {
        @include h1;
        font-size: 38px;

      }

      p {
        @include p;
        font-size: 20px;
      }

      &__image {
        padding-top: 50px;
      }
    }

    ul {
      padding: 20px 0;
      font-weight: 500;
      font-size: 18px;
      color: #FFFFFF;
    }
  }
}


#title{
  .title{
    &--pum{
      p{
        @include p;
        font-size: 20px;
        width: 73%;
      }
      h4{
        @include h4;
        font-size: 20px;
      }
      ul{
        font-weight: 500;
        font-size: 18px;
        color: #FFFFFF;
        padding: 10px 0;
      }
    }
  }
}

#comment {
  .comment {
    h1 {
      @include h1;
      font-size: 36px;
      padding: 20px 0;
    }

    &--decide {
      background: #050C22;
      border-radius: 7px;;
      width: 56%;

      &__init {
        padding-left: 5%;

        input {
          width: 600px;
          height: 130px;
          margin: 20px 0;
          padding: 0 15px;
          color: #FFFFFF;
        }

        button {
          @include btn;
          background: #1B2959;
          border-radius: 7px;
          margin-bottom: 10px;

          &:hover {
            border: none;

          }
        }
      }
    }

    &--block {
      @include df;
      padding-top: 40px;
      width: 480px;

      &__people {
        &--nur {
          @include flex;

          h4 {
            @include h4;
            font-size: 20px;
            line-height: 0
          }

          h5 {
            @include h5;
            color: #9099A3;
            font-size: 14px;
            padding-left: 5px;
          }
        }

        &--answer {

          p {
            @include p;
            font-size: 16px;

          }

          h6 {
            font-weight: 400;
            font-size: 14px;
            color: #9099A3;
          }
        }
      }

    }

    &--block1 {
      @include df;
      padding-top: 40px;
      width: 49%;

      &__people {
        &--nur {
          @include flex;

          h4 {
            @include h4;
            font-size: 20px;
            line-height: 0
          }

          h5 {
            @include h5;
            color: #9099A3;
            font-size: 14px;
            padding-left: 5px;
          }
        }

        &--answer {

          p {
            @include p;
            font-size: 16px;

          }

          h6 {
            font-weight: 400;
            font-size: 14px;
            color: #9099A3;
          }
        }
      }

    }

    &--block11 {
      @include df;
      padding-top: 40px;
      width: 54%;
      padding-left: 15%;

      &__people {
        &--nur {
          @include flex;

          h4 {
            @include h4;
            font-size: 20px;
            line-height: 0
          }

          h5 {
            @include h5;
            color: #9099A3;
            font-size: 14px;
            padding-left: 5px;
          }
        }

        &--answer {

          p {
            @include p;
            font-size: 16px;

          }

          h6 {
            font-weight: 400;
            font-size: 14px;
            color: #9099A3;
          }
        }
      }

    }

    &--block2 {
      @include df;
      padding-top: 40px;
      width: 43%;

      &__people {
        &--nur {
          @include flex;

          h4 {
            @include h4;
            font-size: 20px;
            line-height: 0
          }

          h5 {
            @include h5;
            color: #9099A3;
            font-size: 14px;
            padding-left: 5px;
          }
        }

        &--answer {

          p {
            @include p;
            font-size: 16px;

          }

          h6 {
            font-weight: 400;
            font-size: 14px;
            color: #9099A3;
          }
        }
      }

    }

    &--block3 {
      @include df;
      padding-top: 40px;
      width: 39%;

      &__people {
        &--nur {
          @include flex;

          h4 {
            @include h4;
            font-size: 20px;
            line-height: 0
          }

          h5 {
            @include h5;
            color: #9099A3;
            font-size: 14px;
            padding-left: 5px;
          }
        }

        &--answer {

          p {
            @include p;
            font-size: 16px;

          }

          h6 {
            font-weight: 400;
            font-size: 14px;
            color: #9099A3;
          }
        }
      }

    }
    button{
      @include btn;
      margin-top: 25px;
      background: #1B2959;
      padding: 15px 35px;
    }
  }
}


#latest {
  padding-top: 100px;

  .latest {
    &--article {
      @include df;
      flex-wrap: wrap;

      &__fly {
        background: #FFFFFF;
        border-radius: 10px;
        margin: 20px 0;

        &--desc {

          &__mon {
            padding-left: 15px;

            h5 {
              @include h5;
              font-size: 14px;
              color: #898989;
              padding: 15px 0;
            }

            p {
              @include p;
              color: #000000;
              font-size: 16px;
              font-weight: 600;
              padding: 10px 5px;
            }

            &--icon {
              @include df;

              &__club {
                button {
                  margin-left: -24px;
                  @include btn;
                  background: transparent;
                  color: #044176;

                  &:hover {
                    border: none;
                  }

                }


              }

              &__cloud {
                h4 {
                  padding-right: 65px;
                  font-size: 15px;
                  color: #044176;

                }
              }

            }
          }
        }
      }
    }

    &--best {
      @include center;

      button {
        margin-top: 30px;
        @include btn;
      }
    }
  }
}



#footer {
  .footer {
    padding-top: 90px;
    @include df;
    align-items: flex-start;

    &--our {
      &__ru {
        padding-top: 10px;
        display: flex;
        align-items: center;

        h4 {
          border: 2px solid #ffffff;
          border-radius: 3px;

          font-weight: 400;
          font-size: 13px;
          color: #FFFFFF;


        }
      }

    }

    &--block {
      h2 {
        @include h2;
      }

      h3 {
        @include h3;
      }

      ion-icon {
        @include ion;
        font-size: 18px;
      }

      a {
        @include a;
        padding: 0 0;
        line-height: 2;
        ion-icon {
          @include ion;
          margin: 10px 10px;

        }

      }

      h5 {
        @include h5;
        font-size: 15px;
        color: #FFFFFF;
        padding: 10px 0;
      }

    }
    &--block1 {
      h2 {
        @include h2;
      }

      h3 {
        @include h3;
      }

      ion-icon {
        @include ion;
        font-size: 18px;
      }

      a {
        @include a;
        padding: 0 0;
        line-height: 2;
        ion-icon {
          @include ion;
          margin: 10px 10px;

        }

      }

      h5 {
        @include h5;
        font-size: 15px;
        color: #FFFFFF;
        padding: 10px 0;
      }

    }
    &--block4 {
      h2 {
        @include h2;
      }

      h3 {
        @include h3;
      }

      ion-icon {
        @include ion;
        font-size: 18px;
      }

      a {
        @include a;
        padding: 0 0;
        line-height: 2;
        ion-icon {
          @include ion;
          margin: 10px 10px;

        }

      }

      h5 {
        @include h5;
        font-size: 15px;
        color: #FFFFFF;
        padding: 10px 0;
      }

    }
  }
}
